<div class="d-flex justify-content-center m-2">
  <select name="genres" id="genre-select" class="form-select ml-5" [ngModel]="genre" (change)="filterByGenre($event)">
    <option value="" selected>All genres</option>
    <option *ngFor="let genre of genresList" value="{{genre.slug}}">{{genre.name}}</option>
  </select>
  <input type="text" name="search" id="search-input" class="form-control m-1 w-50" placeholder="Search for a game" [(ngModel)]="searchString" (change)="searchGames()">
  <!-- <div class="d-flex align-items-right">
    <div (click)="previousPage()" *ngIf="this.page > 1" class="m-2">Previous page</div>
    <div (click)="nextPage()" *ngIf="this.isNextPage" class="m-2">Next page</div>
  </div> -->
  <div class="d-flex align-items-right">
    <select name="order" id="order-select" class="form-select ml-5" [ngModel]="order" (change)="orderBy($event)">
      <option value="" disabled selected>Order by...</option>
      <option value="">Reset</option>
      <option value="metacritic">Order by rating</option>
      <option value="released">Order by released date</option>
    </select>
  </div>
</div>

<section infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div id="container">
    <div id="games-list" class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let game of gamesList" class="card m-2">
        <img src="{{game.cover}}" alt="{{game.name}}'s cover" width="500" class="rounded-top">
        <div class="p-2">{{game.name}}</div>
      </div>
    </div>
    <div *ngIf="this.page > 1 && !isAtTop" class="return-top btn btn-primary" (click)="scrollToTop()">Return top</div>
  </div>
  <div *ngIf="this.loadingData" class="d-flex justify-content-center align-items-center">
    <div class="loading text-center">
      <!-- <img src="../../../assets/img/loading.gif" width="50%" alt="Gif de un círculo girando mientras carga el contenido" class="mx-auto"> -->
      <div>LOADING...</div>
    </div>
  </div>
</section>
